name: "CI Build"

on:
  workflow_call:
    inputs:
      commit:
        description: "Commit SHA to build"
        type: string
        required: true

env:
  PC_VERSION: "3.2.0"
  RGBDS_VERSION: "v0.9.4"

jobs:
  build-polishedcrystal:
    name: "Build polishedcrystal"
    runs-on: ubuntu-latest
    steps:
      - id: apt-get-depends
        name: "Install build dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install bison gcc git make libpng-dev -y;

      - id: checkout-rgbds
        name: "Checkout gbdev/rgbds"
        uses: actions/checkout@v4
        with:
          path: rgbds
          ref: ${{ env.RGBDS_VERSION }}
          repository: gbdev/rgbds

      - id: install-rgbds
        name: "Install gbdev/rgbds"
        working-directory: rgbds
        run: |
          sudo make -j$(nproc) install

      - id: checkout-polishedcrystal
        name: "Checkout Rangi42/polishedcrystal"
        uses: actions/checkout@v4
        with:
          repository: Rangi42/polishedcrystal
          path: .
          ref: master
          fetch-depth: 0
      
      - id: build-polishedcrystal
        name: "Build polishedcrystal"
        run: |
          git config advice.detachedHead false
          git checkout ${{ inputs.commit }}
          make -j$(nproc) vc
          mkdir build
          mv polishedcrystal-${{ env.PC_VERSION }}_vc.gbc build/polishedcrystal-dev-${{ inputs.commit }}.gbc
          mv polishedcrystal-${{ env.PC_VERSION }}.patch build/polishedcrystal-dev-${{ inputs.commit }}.patch
          mv polishedcrystal-${{ env.PC_VERSION }}_vc.sym build/polishedcrystal-dev-${{ inputs.commit }}.sym
      
      - id: upload-polishedcrystal
        name: "Upload polishedcrystal artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: "polishedcrystal"
          retention-days: 1
          path: |
            build/polishedcrystal-dev-${{ inputs.commit }}.*
      
  build-polishedcrystal-faithful:
    name: "Build polishedcrystal-faithful"
    runs-on: ubuntu-latest
    steps:
      - id: apt-get-depends
        name: "Install build dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install bison gcc git make libpng-dev -y;

      - id: checkout-rgbds
        name: "Checkout gbdev/rgbds"
        uses: actions/checkout@v4
        with:
          path: rgbds
          ref: ${{ env.RGBDS_VERSION }}
          repository: gbdev/rgbds

      - id: install-rgbds
        name: "Install gbdev/rgbds"
        working-directory: rgbds
        run: |
          sudo make -j$(nproc) install

      - id: checkout-polishedcrystal
        name: "Checkout Rangi42/polishedcrystal"
        uses: actions/checkout@v4
        with:
          repository: Rangi42/polishedcrystal
          path: .
          ref: master
          fetch-depth: 0
  
      - id: build-polishedcrystal-faithful
        name: "Build polishedcrystal-faithful"
        run: |
          git config advice.detachedHead false
          git checkout ${{ inputs.commit }}
          make -j$(nproc) faithful vc
          mkdir build
          mv polishedcrystal-faithful-${{ env.PC_VERSION }}_vc.gbc build/polishedcrystal-faithful-dev-${{ inputs.commit }}.gbc
          mv polishedcrystal-faithful-${{ env.PC_VERSION }}.patch build/polishedcrystal-faithful-dev-${{ inputs.commit }}.patch
          mv polishedcrystal-faithful-${{ env.PC_VERSION }}_vc.sym build/polishedcrystal-faithful-dev-${{ inputs.commit }}.sym

      - id: upload-polishedcrystal-faithful
        name: "Upload polishedcrystal-faithful artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: "polishedcrystal-faithful"
          retention-days: 1
          path: |
            build/polishedcrystal-faithful-dev-${{ inputs.commit }}.*
  
  build-polisheddebug:
    name: "Build polisheddebug"
    runs-on: ubuntu-latest
    steps:
      - id: apt-get-depends
        name: "Install build dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install bison gcc git make libpng-dev -y;

      - id: checkout-rgbds
        name: "Checkout gbdev/rgbds"
        uses: actions/checkout@v4
        with:
          path: rgbds
          ref: ${{ env.RGBDS_VERSION }}
          repository: gbdev/rgbds

      - id: install-rgbds
        name: "Install gbdev/rgbds"
        working-directory: rgbds
        run: |
          sudo make -j$(nproc) install

      - id: checkout-polishedcrystal
        name: "Checkout Rangi42/polishedcrystal"
        uses: actions/checkout@v4
        with:
          repository: Rangi42/polishedcrystal
          path: .
          ref: master
          fetch-depth: 0

      - id: build-polisheddebug
        name: "Build polisheddebug"
        run: |
          git config advice.detachedHead false
          git checkout ${{ inputs.commit }}
          make -j$(nproc) debug vc
          mkdir build
          mv polishedcrystal-debug-${{ env.PC_VERSION }}_vc.gbc build/polishedcrystal-debug-dev-${{ inputs.commit }}.gbc
          mv polishedcrystal-debug-${{ env.PC_VERSION }}.patch build/polishedcrystal-debug-dev-${{ inputs.commit }}.patch
          mv polishedcrystal-debug-${{ env.PC_VERSION }}_vc.sym build/polishedcrystal-debug-dev-${{ inputs.commit }}.sym
      
      - id: upload-polisheddebug
        name: "Upload polisheddebug artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: "polisheddebug"
          retention-days: 1
          path: |
            build/polishedcrystal-debug-dev-${{ inputs.commit }}.*

      
  build-polisheddebug-faithful:
    name: "Build polisheddebug-faithful"
    runs-on: ubuntu-latest
    steps:
      - id: apt-get-depends
        name: "Install build dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install bison gcc git make libpng-dev -y;

      - id: checkout-rgbds
        name: "Checkout gbdev/rgbds"
        uses: actions/checkout@v4
        with:
          path: rgbds
          ref: ${{ env.RGBDS_VERSION }}
          repository: gbdev/rgbds

      - id: install-rgbds
        name: "Install gbdev/rgbds"
        working-directory: rgbds
        run: |
          sudo make -j$(nproc) install

      - id: checkout-polishedcrystal
        name: "Checkout Rangi42/polishedcrystal"
        uses: actions/checkout@v4
        with:
          repository: Rangi42/polishedcrystal
          path: .
          ref: master
          fetch-depth: 0

      - id: build-polisheddebug-faithful
        name: "Build polisheddebug-faithful"
        run: |
          git config advice.detachedHead false
          git checkout ${{ inputs.commit }}
          make -j$(nproc) faithful debug vc
          mkdir build
          mv polishedcrystal-faithful-debug-${{ env.PC_VERSION }}_vc.gbc build/polishedcrystal-faithful-debug-dev-${{ inputs.commit }}.gbc
          mv polishedcrystal-faithful-debug-${{ env.PC_VERSION }}.patch build/polishedcrystal-faithful-debug-dev-${{ inputs.commit }}.patch
          mv polishedcrystal-faithful-debug-${{ env.PC_VERSION }}_vc.sym build/polishedcrystal-faithful-debug-dev-${{ inputs.commit }}.sym
      
      - id: upload-polisheddebug-faithful
        name: "Upload polisheddebug-faithful artifacts"
        uses: actions/upload-artifact@v4
        with:
          name: "polisheddebug-faithful"
          retention-days: 1
          path: |
            build/polishedcrystal-faithful-debug-dev-${{ inputs.commit }}.*
      
  build-polishedcrystal-bsp:
    name: "Build polishedcrystal-bsp"
    runs-on: ubuntu-latest
    steps:
      - id: apt-get-depends
        name: "Install build dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install bison gcc git make libpng-dev -y;

      - id: checkout-rgbds
        name: "Checkout gbdev/rgbds"
        uses: actions/checkout@v4
        with:
          path: rgbds
          ref: ${{ env.RGBDS_VERSION }}
          repository: gbdev/rgbds

      - id: install-rgbds
        name: "Install gbdev/rgbds"
        working-directory: rgbds
        run: |
          sudo make -j$(nproc) install

      - id: checkout-polishedcrystal
        name: "Checkout Rangi42/polishedcrystal"
        uses: actions/checkout@v4
        with:
          repository: Rangi42/polishedcrystal
          path: .
          ref: master
          fetch-depth: 0

      - id: build-polishedcrystal-bsp
        name: "Build polishedcrystal-savepatch"
        run: |
          git config advice.detachedHead false
          git checkout ${{ inputs.commit }}
          make -j$(nproc) bsp
          mkdir build
          mv polishedcrystal-${{ env.PC_VERSION }}.bsp build/polishedcrystal-savepatch-dev-${{ inputs.commit }}.bsp

      - id: upload-polishedcrystal-savepatch
        name: "Upload polishedcrystal savepatch"
        uses: actions/upload-artifact@v4
        with:
          name: "polishedcrystal-savepatch"
          retention-days: 1
          path: |
            build/polishedcrystal-savepatch-dev-${{ inputs.commit }}.*
